{% extends "main/base_webpack.html" %}
{% load static %}

{% load mathfilters %}
{% load dataset_extras %}

{% block extra_head %}
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>

    <style>
        .red-head-anno {
            font-size: smaller;
            color: #993333;
        }

        .modal-custom {
            max-width: inherit;
        }
    </style>
{% endblock %}

{% block title %}<title>{{ object.title }}</title>{% endblock %}

{% block content %}
    <div id="cg_content" class="container mt-1 px-1">
        <div id="cg_title" class="mt-3">
            <h5>
                <sr>{{ object.title }}</sr>
                <span class="half ital text-secondary"> A WHG Collection Group &nbsp;({{ object.owner.name }} )</span>
                <span class="badge bg-warning text-dark rounded-pill float-end half">BETA</span>
                {% if user == object.owner or editor %}
                    <span class="float-end half">
					<a href="{% url 'collection:collection-group-update' object.id %}">edit
					<i class="fas fa-cog linky"></i></a>
				</span>
                {% endif %}
            </h5>
            {% if user.id == object.owner.id or user.is_superuser or user in whgteam %}
                {#			<p>privileged <p> (owner, superuser, whgteam)</p>#}
            {% endif %}
        </div> <!-- #collection_title -->
        <div class="container mt-3 ps-0">
            <div class="row">
                <div id="left" class="col-sm-8 maincol">
                    <div class="fs-5">The
                        {% if object.type == 'class' %} exercise{% else %} session {% endif %}
                        <span class="float-end fs-6 pt-2">{% if object.file %}
                            <a href="/media/{{ object.file }}" target="_blank">download PDF</a>
                            <i class="far fa-file-pdf linky"></i>
                        {% endif %}
	        </span>
                    </div>
                    <div class="bg-white p-1">
                        <p>{{ object.description }}</p>
                        {% if object.file %}
                            <p>Please download the full
                                <a href="/media/{{ object.file }}" target="_blank">
                                    {% if object.type == 'class' %}assignment {% else %}session{% endif %}
                                    description</a>
                                for details.
                            </p>
                        {% endif %}
                        {% if object.gallery %}
                            <p>Collections submitted to this group
                                {% if submitted == 0 %}
                                    will appear on a Gallery page
                                {% else %}
                                    appear in
                                    <a href="{% url 'collection:collection-group-gallery' object.id %}">this Gallery</a>
                                {% endif %}, visible only to members.
                            </p>
                        {% endif %}
                        {% if object.gallery and submitted > 0 %}
                            <p><a href="{% url 'collection:collection-group-gallery' object.id %}">Group gallery</a></p>
                        {% endif %}
                        {% if links|length > 0 %}
                            <p class="mb-0">Some related links:</p>
                            <ul>
                                {% for l in links %}
                                    <li><a href="{{ l.uri }}" target="_blank">{{ l.label }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div> <!-- left -->
                <div id="right" class="col-sm-4 maincol pt-2">
                    <div class="fs-5 mb-2">Building a place collection</div>
                    <div id="" class="">
                        <h6>Getting started</h6>
                        <p>Create a new empty collection on the
                            <a href="{% url 'collection:place-collection-create' %}">Place Collection Builder page.</a>
                            This will be visible only to you until <i>you</i> link it to this Collection Group and
                            submit it for evaluation.
                        </p>
                        <p>Instructions for adding place records, annotating them, and supplementing your collection
                            with links,
                            images, and a PDF essay can be found on the Builder page. A
                            <a href="https://docs.whgazetteer.org/content/guides/publishing.html#create-and-publish-a-place-collection">more detailed guide</a> is also available in site
                            documentation</p>
                        <h6>Submitting your collection</h6>
                        <p>When you are ready to have your {% if object.type == 'class' %}instructor{% else %} workshop
                            leader{% endif %}
                            evaluate it{% if object.gallery_required == true %}, and make it visible in the group
                                gallery{% endif %}, click the
                            <span class="badge bg-primary"> Submit</span> button in the Collection Builder form.</p>
                    </div>
                </div> <!-- right -->
            </div>
        </div>
        <div id="ext_site" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div id="ext_content" class="modal-body">foo</div>
                </div>
            </div>
        </div> <!-- ext_site -->
    </div> <!-- .#collection_content -->

    <div id="downloadModal" class="modal fade" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-85">
                <div class="modal-header">
                    <h5 class="modal-title" id="downloadModalLabel"><i class="fas fa-download linky"></i> Download
                        options for the <span class="text-danger">{{ object.title }}</span> collection</h5>
                </div>
                <div class="modal-body container">
                    <div class="dl-blurb">
                        <p class="mb-1">Data uploaded as Linked Places format (LPF) are available only in that format.
                            Data uploaded as LP-TSV (delimited text files or spreadsheets) can be downloaded as either
                            <sr>LPF</sr>
                            or
                            <sr>LP-TSV</sr>
                            .
                            <!--Downloads totaling more than {n} records will be queued, and a notification email sent when completed.-->
                        </p>
                        {% include 'main/licensing_info.html' %}
                    </div>
                    <div class="row">
                        <div class="col-sm-8 pe-0 scroll-div">
                            <p class="modal-col-head p-1 mb-2">Collection <small>({{ object.places_all.count }} total
                                rows)</small></p>
                            <p><a href="#" class="a-dl" data-collid={{ object.id }}>
                                <i class="fa fa-download" title="Download"></i> download entire collection</a></p>
                            <p class="modal-col-head p-1 mb-2">Datasets represented <small>w/citations</small></p>
                            <p>
                                {% for d in ds_list %}
                                    {{ d.title }}&nbsp;
                                    <a id="cite_{{ d.id }}" class="clippy" aria-label="
                                            {% if d.citation %}{{ d.citation }}{% else %}{{ d.title }}. [Data file (partial), Retrieved from {{ url_front }}collections/{{ object.id }}/browse_pl, {% now 'd M Y' %}{% endif %}"
                                       data-bs-toggle="tooltip" title="copy to clipboard"> citation: <i
                                            class="fas fa-clipboard linky"></i></a><br/>
                                {% endfor %}
                            </p>
                            <div id=""></div>
                            <div id="celery-result"></div>
                        </div>
                        <div class="col-sm-4">
                            <p class="modal-col-head p-1 mb-2">File Formats</p>
                            <div class="p-1 small">
                                <p class="my-1">
                                    <sr>Linked Places format (LPF)</sr>
                                    is JSON-based, valid GeoJSON and valid JSON-LD (rdf) with temporal extensions
                                </p>
                                <p class="my-1">
                                    <sr>LP-TSV downloads</sr>
                                    are tab-separated text files.
                                </p>
                            </div>
                            <div id="progress-bar-message" class="hidden">Waiting for progress to start...</div>
                            <span id='progress-bar' class='progress-bar'
                                  style="background-color: #68a9ef; width: 0%; line-height:.5rem;">&nbsp;</span>
                        </div>
                    </div>
                    <!--</form>-->
                </div> <!-- .modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary btn-cancel" data-bs-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="imageModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog d-flex modal-custom">
            <div class="modal-content flex-shrink-1 mx-auto h-auto w-auto ">
                <div class="modal-header"><span id="header_text"></span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <img src="" class="imagepreview" style="max-height: 600px;">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block inlineScripts %}
    <script type="text/javascript">
        Promise.all([Promise.all(datatables_CDN_fallbacks.map(loadResource))]).then(() => {

            // Image modal
            $('.pop').on('click', function () {
                const url = $(this).find('img').attr('src');
                const txt = $(this).find('img').attr('alt');
                $("#header_text").html(txt);
                $('.imagepreview').attr('src', url);
                $('#imageModal').modal('show');
            });

            function showMore() {
                const clicked = $(this);
                $(".more").show();
                $(".a_more").hide();
                $("#dots").hide();
                clicked.next().show();
                $(".a_less").show();
            }

            function showLess() {
                const clicked = $(this);
                clicked.hide();
                $(".more").hide();
                $("#dots").show();
                $(".a_more").show();
            }

            function readMore(text, numchars, innerlink = '') {
                const dots = '<span id="dots">...</span>';
                const link = '<a href="#" class="a_more" onclick="showMore()">more</a><span class="more hidden">';
                if (text.length < numchars) {
                    return innerlink !== '' ? text + innerlink : text;
                } else {
                    return text.slice(0, numchars) + dots + link + text.slice(numchars) + innerlink +
                        ' <a href="#" class="ms-2 a_less hidden" onclick="showLess()">less</a></span>';
                }
            }

            const clip_cite = new ClipboardJS('.clippy', {
                text: trigger => trigger.getAttribute('aria-label'),
                container: document.getElementById('downloadModal')
            });

            clip_cite.on('success', function (e) {
                const el = $("#" + e.trigger.getAttribute("id"));
                e.clearSelection();
                el.tooltip('hide').attr('data-original-title', 'copied!').tooltip('show');
            });

            function setRowEvents() {
                $("#placetable tbody tr").click(function () {
                    const pid = $(this)[0].cells[0].textContent;
                    const ds_src = table.row($(this).index()).data().dataset.label;

                    const geom = all_feats.find(f => f.properties.pid == pid).geometry;
                    const coords = geom.coordinates;

                    getPlace(pid, 'clicked');

                    const selected = $(this).hasClass("highlight-row");
                    $("#placetable tr").removeClass("highlight-row");

                    if (!selected) $(this).removeClass("rowhover");
                    $(this).addClass("highlight-row");

                    highlightFeatureGL(pid, geom, coords, 'all');
                });

                const row = $("#drftable_list table tbody")[0].rows[0];
                const pid = parseInt(row.cells[0].textContent);
                $("#placetable tbody").find('tr').eq(0).addClass('highlight-row');
                getPlace(pid, 'row0');
            }

            $(function () {
                $(".btn-cancel").click(() => $("#downloadModal").modal('hide'));

                const clearEl = el => {
                    $("#progress-bar").fadeOut();
                    el.html('');
                };

                const dater = () => new Date(Date.now()).toISOString().substring(0, 10);

                function customResult(resultElement, result) {
                    $(".dl-table").stopSpin();
                    const fn = result.filename;
                    const link = '[ <span class="dl-save"><a href="/' + fn + '" title="downloaded: ' + dater() +
                        '" download>save</a></span> ]';
                    $(resultElement).append($('<p>').html(link));
                    $(".dl-save a")[0].click();
                    setTimeout(() => clearEl($("#celery-result")), 1000);
                }

                $(".a-dl").click(function (e) {
                    e.preventDefault();
                    const dsid = $(this).data('id');
                    const collid = $(this).data('collid');
                    const urly = '/dlcelery/';
                    $.ajax({
                        type: 'POST',
                        url: urly,
                        data: {
                            "format": 'lpf',
                            "dsid": dsid,
                            "collid": collid,
                            "csrfmiddlewaretoken": "{{ csrf_token }}"
                        },
                        datatype: 'json',
                        success: function (response) {
                            $(".dl-table").spin();
                            const task_id = response.task_id;
                            const progressUrl = "/celery-progress/" + task_id + "/";
                            CeleryProgressBar.initProgressBar(progressUrl, {
                                pollingInterval: 500,
                                onResult: customResult,
                            });
                        }
                    });
                });

                // Initialize DataTable
                table = $('#placetable').DataTable({
                    dom: "<'row'<'ps-3'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row mt-1'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'p>>",
                    serverSide: true,
                    ajax: { url: "/api/placetable_coll/?format=datatables&id={{ object.id }}" },
                    scrollY: 430,
                    select: true,
                    order: [[1, 'asc']],
                    LengthMenu: [10, 25, 50, 100],
                    columns: [
                        { "data": "id" },
                        { "data": "title" },
                        { "data": "ccodes" },
                        { "data": "dataset.title" }
                    ],
                    columnDefs: [{ searchable: false, targets: [2, 3] }]
                });

                table.on('draw', setRowEvents);

                // Show/hide description links
                $(".a_more_descrip").click(function () {
                    const clicked = $(this);
                    clicked.hide();
                    clicked.parent().find("#dots_descrip").hide();
                    clicked.next().show();
                    $(".a_less_descrip").show();
                });

                $(".a_less_descrip").click(function () {
                    const clicked = $(this);
                    clicked.hide();
                    $(".more_descrip").hide();
                    $("#dots_descrip").show();
                    $(".a_more_descrip").show();
                });
            });

            // Builds external place record link
            function url_extplace(identifier) {
                if (identifier.startsWith('http')) {
                    const tag = identifier.replace(/.+\/\/|www.|\..+/g, '');
                    return '<a href="' + identifier + '" target="_blank">' + tag + '<i class="fas fa-external-link-alt linky"></i>,  </a>';
                } else {
                    return '<a href="" class="ext" data-target="#ext_site">' + identifier + '&nbsp;<i class="fas fa-external-link-alt linky"></i></a>, ';
                }
            }

            // Builds external placetype link
            function url_exttype(type) {
                return ' <a href="#" class="exttab" data-id=' + type.identifier +
                    '>(' + type.label + ' <i class="fas fa-external-link-alt linky"></i>)</a>';
            }

            // Compute min/max for timespans
            function minmaxer(timespans) {
                const starts = [];
                const ends = [];
                for (const t of timespans) {
                    starts.push(Object.values(t.start)[0]);
                    ends.push(t.end ? Object.values(t.end)[0] : -1);
                }
                return [Math.max(...starts), Math.max(...ends)];
            }

        });
    </script>
{% endblock %}
