/*!***********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./whg/webpack/css/mapAndTable.css ***!
  \***********************************************************************************/
.maplibregl-map {
  width: 100%;
  height: 100%;
}

.overlay.left, .overlay.right {
  display: none; /* Hide until positioned */
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px;
  overflow: auto;
  pointer-events: auto;
}

.overlay.left {
	height: 20%;
	max-height: 250px;
}

#mapOverlays{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 2px;
  pointer-events: none;
  height: 100%;
  width: 100%;
  }

#mapOverlays .column {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

#mapOverlays .column.left {
  min-width: 25%; /* Do not allow map to be over-squeezed by .column.right flex width */
  width: 100%;
  height: calc(100% - 4px);
}

#mapOverlays .column.right {
  width: min-content;
  min-width: 34%;
  flex: 1 0 auto;
}

#mapOverlays .item {
  display: block;
  margin: 4px;
  height: 100%;
  position: relative;
}

#mapOverlays .item:last-child {
  margin-bottom: 0px;
}

#mapOverlays .column,
#mapOverlays .overlay.left.item {
  transition: flex 0.5s ease-in-out, max-height 0.5s ease-in-out, margin 0.5s ease-in-out, padding 0.5s ease-in-out, border 0.5s ease-in-out;
}

#mapOverlays.fullscreen .column.left {
  flex: 1 0 100%;
}

#mapOverlays.fullscreen .column.right {
  flex: 1 0 0%;
}

#mapOverlays.fullscreen .overlay.left.item {
	max-height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

#mapOverlays:not(.fullscreen) .download-map-button {
	display: none!important;
}

#mapControls.item {
  border: none;
  pointer-events: none; /* Make the #mapControls transparent for map interaction */
}

#mapControls > div {
  position: absolute;
}

#mapControls * {
  pointer-events: auto; /* Restore mouse events for elements inside #mapControls */
}

#mapControls .maplibregl-ctrl, #mapControls #dateline {
	margin: 0;
}

#mapControls .maplibregl-ctrl-top-right .maplibregl-ctrl-group{
	margin-bottom: 4px !important;
}

/* #mapControls > div > .maplibregl-ctrl:not(:first-child) {
	margin: 4px 0 0 0;
} */

#mapControls .maplibregl-ctrl-top-left {
	display: flex;
}

#mapOverlays.fullscreen #mapControls .maplibregl-ctrl-fullscreen {
	margin-bottom: 4px;
}

#mapControls .maplibregl-ctrl-download {
	left: 4px;
    position: relative;
}

.download-map-button .maplibregl-ctrl-icon {
	background: url(b2af296ddc064f436973.svg);
	background-size: 26px;
}

.sequencer {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  padding: 4px;
  opacity: .8;
}

.sequencer button {
	border: none!important;
	background-position: 50%;
    background-repeat: no-repeat;
    background-size: 26px;
    display: block;
    height: 26px!important;
    width: 34px!important;
    color: black;
}

.sequencer button:disabled {
	opacity: .5;
}

.sequencer.playing button#play {
	background-image: url(b6786baca79f1091ac36.svg)!important;
}

.sequencer .separator {
	border-right: 1px solid #ccc;
    width: 6px;
    margin-right: 6px;
}

.sequencer #stepDelayDropbox {
	display: none;
	padding: 0;
}

.sequencer #stepDelayDropbox select {
	position: relative;
    top: 3px;
    height: 20px;
    border: 2px solid #2f932d;
    border-radius: 4px;
}

.sequencer #stepDelayDropbox select:focus {
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
  outline: none;
  border-radius: 4px;
}

.sequencer #stepDelayDropbox select::before {
  content: '▼'; /* Unicode arrow character or custom icon */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 12px; /* Adjust font size as needed */
  color: #555; /* Color of the arrow */
}

#placetable_wrapper .row {
	margin-right: auto!important;
}

#placetable tr.no-geometry {
	/*background-color: ghostwhite;*/
	/*background-color: #dc35451c;*/
}

#placetable tr.no-temporal {
	font-style: italic;
}

.dataTables_scrollBody {
	height: auto!important;
	max-height: 100%;
}

/* Styling for getPlace() Detail */
#detail {
    display: flex!important;	
}
#detail > img {
    flex: 0 0 auto;
    margin-right: 10px;
    height: auto;
    width: auto;
    max-height: 8rem;
    max-width: 30%;
    order: 2;
}
#detail > div {
    flex: 1 1 auto;
    order: 1;
}

/* Styling for the attribution text */
.attribution-text {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  max-height: 200px;
  overflow-y: auto;
}

#injunctionText {
	font-weight: bold;
}

#map-download-dialog button {
  margin: 5px 0;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  color: #fff;
}

/* Styling for the copy attribution button */
#copy-attribution {
  background-color: #007BFF;
}

/* Styling for the download button */
#download {
  background-color: #28A745;
  margin-right: 5px!important;
}

/* Styling for the cancel button */
#cancel {
  background-color: #dc3545;
  float: left!important;
}

/* Styling for the modal overlay */
.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.5);
}

#map-render-container {
	position: 'absolute';
	top: 0;
	left: 0;
	z-index: -1
}

/*#coll_detail {*/
/*  	display: inline;*/
/*  	!*display: grid;*!*/
/*    grid-template-columns: repeat(auto-fill, minmax(34%, 1fr));*/
/*    grid-gap: 20px;*/
/*}*/

.color-key-table {
	width: fit-content;
	border: 1px solid #ccc;
    position: absolute;
    left: 0px;
    top: 40px;
    background-color: rgb(255 255 255 / 75%);
    border-radius: 8px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
}

.color-key-table #keyLabel {
    margin-left: 2px;
}

.color-key-table i.fa-arrow-circle-right {
    float: inline-end;
    font-size: 14px;
    cursor: pointer;
}

.color-key-table.expanded i.fa-arrow-circle-right {
    rotate: 180deg;
}

.color-key-table td:nth-child(2) {
    white-space: nowrap; /* Prevents wrapping to the next line */
    overflow: hidden;    /* Hides overflowed content */
    text-overflow: ellipsis;
    padding-left: 0;
    max-width: 250px;
    opacity: 1;
    transition: max-width 0.3s ease, opacity 0.3s ease;
}

.color-key-table:not(.expanded) td:nth-child(2) {
    max-width: 0px;
    opacity: 0;
}

.color-key-table:not(.expanded) #keyLabel {
    display: none;
}

.color-key-table .dataset-selector {
    cursor: pointer;
}

.color-key-table tr.disabled {
	opacity: 0.3;
}

.color-key-table tr.disabled a {
    pointer-events: none;
	cursor: not-allowed;
}

.color-key-table td {
	padding: 0 .3rem;
}

.color-key-table .color-swatch {
	border-radius: 50%;
    width: .8rem;
    height: .8rem;
    /*width: 1rem;*/
    /*height: 1rem;*/
}

/*!*********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./whg/webpack/css/mapAndTableAdditional.css ***!
  \*********************************************************************************************/
#mapOverlays p, td {
  font-family: Raleway, san-serif !important;
  font-size: 0.85rem;
}

#ds_info {
  /*height: fit-content!important;*/
  overflow-y: auto;
  overflow-x: hidden;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  height: fit-content !important;
}
#time_control {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60px;
  margin-top: auto;
}
#coll_detail {
  display:inline;
  /*display:flex;*/
  border-top: 1px solid lightgray;

}

#ds_info.info-collapsed .info-collapse, #ds_info:not(.info-collapsed) .info-expand {
	display: none;
}
.pub-intro {
  padding-bottom: 0.5rem;
}
.pub-title {
  font-size: 1.2rem;
  font-family: Raleway, san-serif;
}

#placetable_wrapper .row:nth-child(2) > div {
    padding-right: 1px;	
}

#placetable_filter input {
    margin: 3px !important;
}

#ds_table {
	padding: 0;
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 0;
}
#detail {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
  	font-size: 0.8rem;
  	z-index: 10;
}

/* CSS for very narrow screens (up to 575px) */
@media (max-width: 575px) {
	#map {
		height: 400px;
	}
	#detail {
		flex-basis: unset;
	  	height: auto;
	}
	.overlay {
		display: block!important;
	}
	.color-key-table {
	    left: 0.5rem;
        top: 50px;
	}
}

/* CSS for wider screens (576px and above) */
@media (min-width: 576px) {
	#map {
		height: 100%;
	}
	#mapControls.item {
	    margin-right: -2px;
	}
	#detail {
  		height: 30% !important;
	}
}

.pub-anno-title {
  font-size: large;
}
#actions {
  padding-top: 0.2rem;
}

#addtocoll_popup {
  font-size: 0.8rem;
  position: absolute;
  top: 16px;
  right: 130px;
  width: 200px;
  background-color: #fff;
  border: 1px solid #336699;
  border-radius: 8px;
  z-index: 10000;
  box-shadow: 3px 3px #c3c3c3;
}

#dataset_tabs {
	position: relative;
}

#selection_status {
  /*position: absolute;*/
  /*top: 10px;*/
  /*right: 10px;*/
  display: none;
}

.dataTables_scroll {
  border-right: 1px solid gainsboro;
}

#dataset_content {
  position: relative; 
  display: flex;
  flex: auto;
}

#detail p {
  margin-bottom: 0.2rem;
}

.title {
  font-weight: bold;
  color: #021691; /* darkblue - NOTE: WAS #993333 FOR DS_COLLECTION_NEW & DS_COLLECTION_BROWSE_NEW */
}

#collapseExpand, #toggleIcon { /* ARE THESE THE SAME THING BY DIFFERENT IDs? */
  cursor: pointer;
  color: #336699;
}

.img-dscoll {
  max-width: 80%;
  max-height: 100%;
  height: auto;
  width: auto;
  position: absolute;
  top: 40%;
  right: 40%;
  transform: translate(50%, -50%);
}

.paginate_button {
  padding: 0 !important;
}

.dataTables_filter {
  float: left !important;
  text-align: left !important;
}

.dataTables_filter input {
  margin: 0 2px;
}

.addtocoll {
  background-color: aliceblue;
}

/* padding to the left side of the second column */
td:nth-child(2) {
  padding-left: 10px;
}

/* bold first column */
td:first-child {
  font-weight: bold;
}

